In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd

In [2]:
data = datasets.load_boston()

In [8]:
# define the data/predictors as the pre-set feature names  
df = pd.DataFrame(data.data, columns=data.feature_names)

# Put the target (housing value -- MEDV) in another DataFrame
target = pd.DataFrame(data.target, columns=["MEDV"])

In [10]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
target.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [1]:
l = [2,3,4]
len(l)

3

In [2]:
x1 = 2
x2 = 4

In [9]:
def f():
    print(f"f() x1: {x1}")
    print(f"f() x2: {x2}")
    x1r = x1 + 2
    x2r = x2 + 4
    return x1r + x2r

In [10]:
def g():
    global x1, x2
    x1 = x1 + 1
    x2 = x2 + 1

In [11]:
print(x1)
print(x2)
res = f()
print("f():", res)
print(x1)
print(x2)
print("g()..")
g()
res = f()
print("f():", res)
print(x1)
print(x2)

4
8
f() x1: 4
f() x2: 8
18
4
8
f() x1: 5
f() x2: 9
20
5
9

In [11]:
print(x1)
print(x2)
res = f()
print(res)
print(x1)
print(x2)

6
12
24
8
16